---
import CampingImage from "./assets/images/campingalbolafia.png";
import LambdaImage from "./assets/images/lambdapage.png";
import ProjectCard from "./ProjectCard.astro";
import ProjectIcon from "./icons/ProjectIcon.astro";
import CounterImage from "./assets/images/counterstrike.png";
const PROJECTS = [
    {
        title: "Camping La Albolafia",
        description:
            "Desarrollo desde cero del sitio web de Camping La Albolafia. P치gina est치tica realizada con HTML5, CSS, Javascript y Bootstrap.",
        image: CampingImage,
        link: "https://campinglaalbolafia.com/",
    },
    {
        title: "Lambda Beats Web",
        description:
            "Mi TFG. Desarrollo de una aplicaci칩n web para venta de instrumentales online. Pasarela de pago con Stripe y Webhooks. Autenticaci칩n con JWT. Frontend con React y Tailwind y backend con Laravel.",
        image: LambdaImage,
    },
    {
        title: "Plugins & Mods para Counter Strike 1.6",
        description:
            "Desarrollo de plugins y mods a medida para el juego Counter Strike 1.6.",
        image: CounterImage,
    },
];
---

<nav class="flex justify-start items-center gap-x-2 text-sm">
    <ProjectIcon class="size-6 text-white" />
    <h2 class="text-md font-semibold">Proyectos</h2>
    <div class="h-[2px] w-full bg-white"></div>
</nav>

<section
    class="flex flex-col justify-center items-center text-sm mt-10 gap-y-20"
>
    <div class="w-full flex flex-col justify-start items-start gap-y-10">
        <!-- Item -->

        {PROJECTS.map((experience) => <ProjectCard experience={experience} />)}
    </div>
</section>
