---
import CampingImage from "./assets/images/campingalbolafia.png";
import LambdaImage from "./assets/images/lambdapage.png";
import CounterImage from "./assets/images/counterstrike.png";
import ProjectCard from "./ProjectCard.astro";
import ProjectIcon from "./icons/ProjectIcon.astro";
import SantamariaImage from "./assets/images/santamaria.png";
const PROJECTS = [
    {
        title: "Bar Santa María",
        description: "Sitio web optimizado para SEO y rendimiento. Arquitectura estática enfocada en la experiencia de usuario y tiempos de carga mínimos.",
        image: SantamariaImage,
        tags: ["Astro", "Tailwind CSS", "SEO"],
        link: "https://barsantamaria.es/",
    },
    {
        title: "Lambda Beats - SaaS Platform",
        description: "Plataforma Fullstack para la gestión y venta de instrumentales. Implementa una arquitectura robusta con pasarela de pagos, gestión de licencias digitales y sistema de autenticación seguro.",
        image: LambdaImage,
        tags: ["React", "Laravel", "Stripe", "MySQL", "Tailwind"],
        isTFG: true
    },
    {
        title: "Camping La Albolafia",
        description: "Sitio corporativo optimizado para SEO y rendimiento. Arquitectura estática enfocada en la experiencia de usuario y tiempos de carga mínimos.",
        image: CampingImage,
        tags: ["HTML5", "CSS3", "JS", "Bootstrap"],
        link: "https://campinglaalbolafia.com/",
    },
    {
        title: "CS 1.6 Engine Modding",
        description: "Desarrollo de lógica de servidor y plugins a bajo nivel. Optimización de eventos en tiempo real y scripting de sistemas para entornos competitivos.",
        image: CounterImage,
        tags: ["Pawn", "C++", "Game Dev", "Optimization"],
    },
];
---

<div id="projects" class="mt-32 mb-20">
    <nav class="flex justify-start items-center gap-x-4 mb-12">
        <ProjectIcon class="size-8 text-yellow-400" />
        <h2 class="text-3xl font-bold tracking-tight">Proyectos Destacados</h2>
        <div class="h-[1px] flex-1 bg-gradient-to-r from-yellow-500/50 to-transparent"></div>
    </nav>

    <section class="grid grid-cols-1 gap-y-24">
        {PROJECTS.map((project) => <ProjectCard project={project} />)}
    </section>
</div>