---
interface Props {
    title: string;
}
import "@fontsource-variable/rubik";
import TopBar from "../components/TopBar.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Portfolio de Javi Luna. Ingeniero informático. Fullstack developer. Córdoba, España." />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
    </head>
    <body class="bg-neutral-950 text-white font-['Rubik_Variable']">
        <div class="fixed inset-0 -z-10 h-full w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>

        <TopBar />
        
        <main class="flex flex-col items-center justify-center w-full px-4 mt-16">
            <div class="w-full max-w-[750px]">
                 <slot />
            </div>
        </main>

        <Footer />
    </body>
</html>

<style is:global>
    :root {
        color-scheme: dark;
        scroll-behavior: smooth;
    }
    /* Eliminamos el flex del body que rompe los elementos fixed */
    body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        overflow-x: hidden;
    }
</style>